<?xml version="1.0"?>
<launch> 

  <include file="$(find robot_perception)/launch/sick_tim.launch" />
  <include file="$(find avt_vimba_camera)/launch/mono_camera.launch" />

  <include file="$(find ur5_manipulation)/launch/ur5_bringup.launch"/>
  <include file="$(find ur5_manipulation)/launch/ur5_moveit_planning_execution.launch" />
  <include file="$(find ur5_manipulation)/launch/moveit_rviz.launch" />

  <node name="wrench_service" pkg="robot_perception" type="wrench_detector" />
  <node name="ur5_action" pkg="ur5_manipulation" type="ur5_move_node" />

  <node pkg="tf" type="static_transform_publisher" name="camera_link" args="0.27 0.23 0.215 1.57 0 -1.57 base_link camera 100"/>
  <node pkg="tf" type="static_transform_publisher" name="ee_comp_link" args="0 0 0 0 0 -0.707 ee_link ee_comp_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odmini_link" args="0 0 0.12 0 0 0 ee_comp_link odmini_link 100"/>
</launch>
