<?xml version="1.0"?>
<launch> 

  <include file="$(find robot_perception)/launch/sick_tim.launch" />
  <include file="$(find avt_vimba_camera)/launch/mono_camera.launch" />

  <include file="$(find ur5_manipulation)/launch/ur5_bringup.launch"/>
  <include file="$(find ur5_manipulation)/launch/ur5_moveit_planning_execution.launch" />
  <include file="$(find ur5_manipulation)/launch/moveit_rviz.launch" />

  <node pkg="tf" type="static_transform_publisher" name="camera_link" args="0.27 0.23 0.215 1.57 0 -1.57 base_link camera 100"/>
</launch>
